.App {
  text-align: center;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border: 1px solid #f8c4c4;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}